# placeholders at this point:
{% set conf = salt['grains.filter_by']({
    'Debian': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
    'Ubuntu': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
    'RedHat': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
    'CentOS': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
    'Suse': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
    'FreeBSD': {
        'config_path': '/etc/filebeat/filebeat.yml',
        'config_source': 'salt://filebeat/files/mm_filebeat.jinja',
    },
}, merge=salt['pillar.get']('filebeat:lookup')) %}

