filebeat:
  lookup:
    config_path: /etc/filebeat/filebeat.yml
    config_source: salt://filebeat/files/mm_filebeat.jinja

  # if no log_paths specified, generic syslogs are default
  log_paths:
    -
      paths:
        - '/var/log/secure*'
      type: 'log'
      tag: ["secure"]
      processors:
        - add_tags:
            tags: [failure]
            target: "tags"
            when:
              contains:
                message: "failure"
        - add_tags:
            tags: [success]
            target: "tags"
            when:
              contains:
                message: "success"
    -
      paths:
        - '/var/log/messages*'
      type: 'log'
      tags: ["messages"]
  logstash:
    enabled: True
    server:
      - bric-elasticnode-1.corp.modmed.com:15045
      - bric-elasticnode-2.corp.modmed.com:15045
    tls:
      enabled: true
      ssl_ca_path: /etc/filebeat/certs/ca.crt
      ssl_ca: |
        -----BEGIN CERTIFICATE-----

        -----END CERTIFICATE-----

      ssl_cert_path: /etc/filebeat/certs/server.crt
      ssl_cert: |
        -----BEGIN CERTIFICATE-----

        -----END CERTIFICATE-----

      ssl_key_path: /etc/filebeat/certs/server.key
      ssl_key: |
         -----BEGIN RSA PRIVATE KEY-----
 
         -----END RSA PRIVATE KEY-----

